[Unit]
Description= Starts the action on Ness alarm event
Documentation= man:systemd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ness-monitor.sh

